<header class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <div class="logo-icon">
        <span class="material-symbols-outlined">folder_shared</span>
      </div>
      <h2 class="logo-text">DocVault</h2>
    </div>

    <div class="navbar-content">
      <nav class="navbar-nav">
        <a routerLink="/" class="nav-link active">Home</a>
        <a href="#" class="nav-link">Documents</a>
        <a routerLink="/upload" class="nav-link">Upload</a>
        <a href="#" class="nav-link">Search</a>
      </nav>

      <div class="navbar-actions">
        <button class="btn-upload" routerLink="/upload">
          <span class="text">Upload</span>
        </button>
        <button class="btn-icon">
          <span class="material-symbols-outlined">notifications</span>
        </button>
        <div class="avatar">
          <img
            alt="User profile avatar"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuCJc1Ae0l2Abx4peDY19iLv5J5usfNTUG3Pm9lqChJ_1lINWA66EiC7UExg9M-BmsnJu-RkP1QYg6j_m44N86mHvTbsaVw8-1Q-Z_aWSRQvbvD-oqgPGkCGkdHzJwLwg1vHEl5_xVmaqQ2XTAGpgYqaflP8Swb2x72dZLKvhmKap9WLcO06d1yEfMQWItHRdVet7H5pif67E941CKx3rRw-kJQlLTURicwCHrGKvTgehBiyquBupo4CC4-7xtTIqGa6rUEk1rgWQb6r"
          />
        </div>
      </div>
    </div>
  </div>
</header>
